  .progress-step {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height:  30px;
    background-color: #ccc;
    border-radius:  5px;
    transition: background-color  0.3s ease;
  }
  
  .progress-step.completed {
    background-color: #4caf50;
  }
  
  .progress-step:not(.completed)::after {
    content: '';
    position: absolute;
    top:  50%;
    right: -50%;
    width:  50%;
    height:  2px;
    background-color: #4caf50;
  }
  
  /* .progress-bar {
    position: absolute;
    bottom:  0;
    left:  0;
    height:  5px;
    background-color:  #4caf50!important;
    border-radius:  5px;
    transition: width  0.3s ease;
  }
   */
