.layout-header {
    width: calc(100% - 334px);
    z-index: 10;
    font-weight: 500;
    background-color: #e8f3fe !important;
    padding: 0;
}
@media (max-width: 991px){
    .layout-header {
        width: 100% !important;
    }
}

.box {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-tour{
    color: #899199 !important;
    background-color: #f7f9fa !important;
}