@font-face {
  font-family: FontVazir;
  font-style: normal;
  font-weight: normal;
  src: url(../src/assets/font/Font-iranSans/Sans\ a4fran3.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  direction: rtl;
}

body {
  font-family: FontVazir !important;
  direction: rtl !important;
  font-size: 13px !important;
  background-color: var(--color-bg-light) !important;
  /* transition: all .1s ease; */
}

:root {
  --color-black: #131921;
  --color-bg-light :#e8f3fe;
  --color-txt-gray :#899199;
}

a {
  font-family: FontVazir;
  text-decoration: none !important;
  display: inline-block;
  color: var(--color-txt-gray) !important;
}

li {
  list-style-type: none;
}

.layout-header-full {
  width:  100%;
  transition: all .4s ease;
  z-index:  10;
  font-weight:  500;
  background-color: #e8f3fe !important;
  padding:  20px;
}

body.style-floating-layouts .sidebar,
body.style-floating-layouts .layout-header 
 {
  padding: 1rem !important;
}
@media (max-width: 991px){
  body.style-floating-layouts .sidebar,
  body.style-floating-layouts .layout-header ,
  .layout-header-full
   {
    padding: 0 !important;
  }
}
body.style-floating-layouts .layout-header>.card {
  border-radius: 10px;
  box-shadow: 0 0 25px 20px rgba(0,0,0,.03);
  transition: all 0.4s ease;
}
.main-content{
    width: calc(100% - 334px);
    transition: all 0.4s ease;
    float: inline-end;
    margin-top: 60px;
}
.main-content-full {
  width:  100%;
  transition: all 0.4s ease;
  margin-top: 120px !important;


}
@media (max-width: 991px){
    .main-content {
        width: 100% !important;
    }
}

button, input, textarea {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}
.card{
  border: none !important;
}
.h-36px {
  height: 36px !important;
}

.w-36px {
  width: 36px !important;
}

.w-60px {
  width: 60px !important;
}

.rounded-10px {
  border-radius: 10px !important;
}

  /* # Start Custom Scroll */

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 213, 213);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 120, 120, 0.378);
}